@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #555879;
  --color-secondary: #98A1BC;
  --color-accent: #DED3C4;
  --color-background: #F4EBD3;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}