@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #555879;
  --color-secondary: #98A1BC;
  --color-accent: #DED3C4;
  --color-background: #F4EBD3;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             
}

@keyframes subtleBounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.subtle-bounce {
  animation: subtleBounce 0.5s ease;
}
